.card__text {
    font-size: 1.8rem;
}

.card__container {
    margin: 0 auto 2rem auto;
    width: 90%;
    box-shadow: 0.1rem 0.5rem 0.1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.card__button {
    font-size: 1.8rem!important;
}

@media (min-width: 768px) {
    .card__button {
        margin-top: 1rem;
    }
}