.tienda__main{
    margin-top: 5rem;
    overflow-x: hidden;
    
}

.tienda__contenedor{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.tienda__titulo{
    text-transform: uppercase;
    font-weight: bold;
    margin: 3rem auto;
    font-size: 4rem;
}

@media(min-width: 768px){
.tienda__main{
    width: 95%;
    margin: 0 auto
}

    .tienda__contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 986px){
    .tienda__contenedor{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }
}