.imagen-logo{
    source, img{
        max-width: 350px;
        justify-content: center;
        align-items: center;
    }

    @include desktop{
        source, img{
            max-width: 100%;
        }
    }
}

.map{
    
iframe{
    display: flex!important;
    justify-content: center!important;
    margin: 0 auto!important;
}

}

