.box{
    background-color: rgba(190, 190, 190, 0.5);
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 2px rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
}
.tcont{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}
.tcont:first-child{
    margin-top: 0.2rem;
}

.t{
    background-color: white;
    height: 0.3rem;
    width: 1.5rem;
    margin: -0.2rem;
}
.tl{

    transform: rotate(-25deg);
}
.tr{

    transform: rotate(25deg);
}